<div class="container">
<div class="row my-4 gx-0">

<div class="col-md-8 ">
   <input class="form-control offset-md-2 col-md-10 " type="text" name="searchTerm" [(ngModel)]= "searchTerm" 
placeholder="Enter Keyword to Search">
</div>

<div class="col-md-4 ">
 <div class="row ">
<div class="col-md-6 ">
<label  class="form-label float-right font-weight-bold my-2 padding-0">Items Showing:</label>

</div>
<div class="col-md-4 ">
<select (change)= "reloaddata()" class="form-control  float-left padding-0" name="itemsPerPage" ngModel [(ngModel)]= "itemsPerPage">
 
  <option value= "1" >1</option>
  <option value= "2" >2</option>
  <option value= "3" >3</option>
  <option selected value= "4" >4</option>

</select>

</div>
</div>
</div>
</div>


<div class="row my-0 mx-1 float-right">
  <pagination-controls class="col " (pageChange) ="PageChange($event)"></pagination-controls>
</div>

<!-- List for displaying all the Employee -->
<div class="row  mx-auto container my-5 ">
  <div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th (click)= "sort('id')">#<i class="fa fa-fw fa-sort"></i></th>
      <th (click)= "sort('name')"> Name<i class="fa fa-fw fa-sort"></i></th>
      <th>Phone</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody > 
    <!-- For loop for employee basic Information -->
    <tr class="col" *ngFor= "let employee of empList | orderBy:key:reverse| filter:searchTerm | paginate:{itemsPerPage,currentPage,totalItems}">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.phone}}</td>


 <!-- Action Buttons created for Viewing, updating and Deleting an Employee -->
      <td >
        <a [routerLink]="['detail',employee.id]" class="btn btn-success round">Details</a>
      </td>
      <td>
        <a [routerLink]="['update',employee.id]" class="btn btn-primary round">Update</a>
      </td>
      <td>
        <a  class="btn btn-danger round" (click)= "delete(employee.id)">Remove</a>
      </td>
    </tr>
  </tbody>
  
</table>
</div>
</div>







</div>